/* Style for the Register Section */
body {
  margin: 0;
  padding: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../img/login4.jpg") no-repeat center center/cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

input:focus {
  border-color: #007bff;
}

.register {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: Arial, sans-serif;
  width: 408px;
}

.register .container {
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 40px;
  width: 100%;
  max-width: 400px;
  text-align: center;
}

.register h1 {
  color: #333;
  font-size: 2rem;
  margin-bottom: 20px;
}

.register form {
  display: flex;
  flex-direction: column;
}

.register form .form-group {
  margin-bottom: 20px;
  text-align: left;
}

.register form label {
  font-weight: bold;
  color: #555;
}

.register form input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 1rem;
}

.register form input:focus {
  border-color: #007bff;
  outline: none;
}

.register form button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  font-size: 1.2rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.register form button:hover {
  background-color: #0056b3;
}

.register p {
  margin-top: 15px;
  font-size: 0.9rem;
  color: #666;
}

.register p a {
  color: #007bff;
  text-decoration: none;
}

.register p a:hover {
  text-decoration: underline;
}
